:root{
    font-family: "Comic Neue", cursive;
}

/*Navbar*/
header{
    background-color: #ddb892;
    position: sticky;
    top: 0;
}

/*Elements in index.html*/
.main-bg-img{
    background-image: url(/assets/photo/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: fit-content;
}

.logo-name{
    text-shadow:
    1px 1px #C08552,
    1px 2px #919191,
    1px 3px #919191,
    1px 4px #919191,
    1px 5px #919191,
    1px 10px 1px #5A3D2E,
    1px 15px 5px #5A3D2E,
    1px 20px 8px #5A3D2E;
}

.container_typing-text{
    width: 30vw;
    overflow: hidden;
}

.text{
    position: relative;
}

.text.body-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;  
    width: 100%;
    height: 100%;
    background-color: #FDE8C6;
    border-left: 5px solid brown;
    animation: animate 4s steps(12) infinite;
}

.play_button-index, .explore_button{
    animation: updown 1s ease-in-out alternate infinite;
    padding: 2ch;
    font-size: 60px;
}

.explore_button{
    animation: updownReverse 1s ease-in-out alternate infinite;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    gap: 5ch;
    height: fit-content;
    width: 60vw;
    justify-content: center;
}

.play_button{
    animation: updown 1s ease-in-out alternate infinite;
    padding: 2ch;
    font-size: 60px;
    /*filter: blur(5px);
    transition: 0.5s;*/
}

/* for blur element
.play_button:hover{
    filter: blur(0);
    transition: 0;
}
    */

/*Exploring the site*/
.specified-color{
    background: linear-gradient(45deg, #C08552, #5E3023);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

/*Elements in game.html*/
.main-game-img{
    background-image: url(/assets/photo/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/*Temporary messages*/
#mode:hover{
    cursor: pointer;
    transition: 5ms;
}

.container_show-off{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 50;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-off{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-shadow: 3px 3px 10px #864d33;
    opacity: 0;
    animation: fadeOut 2s ease-out forwards;
}

.step1{
    animation-delay: 0s;
}

.step2{
    animation-delay: 1.5s;
}

.step3{
    animation-delay: 3s;
}

.step4{
    animation-delay: 4.5s;
}

.step5{
    animation-delay: 6s;
}

#word-display{
    font-size: 40px;
    border: 2px #864d33;
    border-style: dashed;
    padding: 3%;
    background-color: #FAEADC;
}

.spin-around{
    animation: spin 1s ease-in-out infinite;
}

/*Game input*/
#input-field{
    background-color: #ddb892;
}

#results{
    font-size: 40px;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0% ;
    }
}

@keyframes updown{
    from{
        transform: translateY(15px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes updownReverse{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(15px);
    }
}

@keyframes fadeOut{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    30%{
        opacity: 1;
        transform: scale(1.2);
    }
    70% { 
        opacity: 1; 
        transform: scale(1.3);
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}




/*Remove input if timer = 0*/

.input-element1{
    display: none;
}
