:root{
    font-family: "Comic Neue", cursive;
}

/*Navbar*/
header{
    background-color: #ddb892;
    position: sticky;
    top: 0;
}

/*Elements in index.html*/
.main-bg-img{
    background-image: url(/assets/photo/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 5ch;
}

.container_typing-text{
    width: 30vw;
    overflow: hidden;
}

.text{
    position: relative;
}

.text.second-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;  
    width: 100%;
    height: 100%;
    background-color: #FDE8C6;
    border-left: 5px solid brown;
    animation: animate 4s steps(12) infinite;
}

.play_button-index{
    animation: updown 1s ease-in-out alternate infinite;
    padding: 2ch;
    font-size: 60px;
}

.welcome-message{
    text-indent: 12ch;
    display: flex;
    flex-direction: column;
    gap: 5ch;
}

.play_button{
    animation: updown 1s ease-in-out alternate infinite;
    padding: 2ch;
    font-size: 60px;
}

/* TO DELETE IF WE'LL DELETE LEVEL.HTML
.section-img-left{
    width: 10vw;
    animation: left 2s ease-in-out backwards alternate infinite;
}

.section-img-right{
    width: 10vw;
    animation: right 2s ease-in-out backwards alternate infinite;
}

.level-text{
    animation: show 1s ease-in-out;
}
   

.background{
    width: 30vw;
    height: 15vh;
    background-color: var(--color-amber-900);
    border-radius: 50% 50% 0% 0%;
    position: relative;
    left: 6ch;
    bottom: 5ch;
}

.bear{
    width:30vw;
    position: relative;
    bottom: 27ch;
}
     */

/*Elements in game.html*/
/*Temporary messages*/
.main_game-bg{
    height: 100vh;
    background-color: #FDE8C6;
}

#mode:hover{
    cursor: pointer;
    transition: 5ms;
}

.container_show-off{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 50;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-off{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-shadow: 5px 5px 20px #864d33;
    opacity: 0;
    animation: fadeOut 2s ease-out forwards;
}

.step1{
    animation-delay: 0s;
}

.step2{
    animation-delay: 1.5s;
}

.step3{
    animation-delay: 3s;
}

.step4{
    animation-delay: 4.5s;
}

.step5{
    animation-delay: 6s;
}

#word-display{
    font-size: 40px;
    border: 2px #864d33;
    border-style: dashed;
    padding: 3%;
}

.spin-around{
    animation: spin 1s ease-in-out infinite;
}

/*Game input*/
#input-field{
    background-color: #ddb892;
}

#results{
    font-size: 40px;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0% ;
    }
}

@keyframes updown{
    from{
        transform: translateY(15px);
    }
    to{
        transform: translateY(0);
    }
}

/*
@keyframes show{
    0%{
        opacity: 0;
        transform: translateX(25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(30px);
    }
}

@keyframes right{
    0%{
        transform: translate(-60px, 30px);
    }
    100%{
        transform: translateX(0);
    }
}
    */

@keyframes fadeOut{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    30%{
        opacity: 1;
        transform: scale(1.2);
    }
    70% { 
        opacity: 1; 
        transform: scale(1.3);
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}
